<div id="notLoggedInOptions">
  <div>
    <a href="javascript:;" class="linkToSignIn" name="modal">Sign In</a>
  </div>
  <div>
    Don't have a Collaborize Classroom? <a href= "<%= ccl.bundle.classroomURL%>/ccl_account.php?step=1&page=home" target="_blank" class="linkToGetFreeSite">Get your FREE site now!</a>
  </div>
</div>